    p {
    	font-size: 18px;
    }
    h1 {
    	font-size: 40px;
    }
    input {
    	border: 0;
      padding: 5px;
      font-size: 12px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
    ul {
      padding: 5px;
      background: rgba(0, 0, 0, 0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    a {
      color: white;
    }
